* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}
body {
  background: linear-gradient(to right, #20135c, #140739);
  position: relative;
  height: 730px;
  padding-top: 110px;
}
form {
  color: white;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: linear-gradient(to bottom, #1e1156, #1c2340);
  opacity: 0.99999;
  align-items: center;
  padding: 130px 30px;
  box-shadow: 4px 5px 10px 1px #000000;
  position: relative;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
input {
  border: none;
  background-color: #2e3558;
  color: white;
  width: 100%;
}
.inp {
  position: rela;
  border: none;
  padding: 15px;
  width: 350px;
  background-color: #2e3558;
  border-radius: 5px;
  display: flex;
}
.inp img {
  margin-right: 20px;
}
.circle {
  object-fit: cover;
  position: absolute;
  left: 75px;
  bottom: 182px;
}
.top {
bottom: 250px;
}
button {
  color: white;
  width: 100px;
  border-radius: 8px;
  border: none;
  padding: 12px;
  cursor: pointer;
}
.signUp {
  background-color: #2f3453;
}
.signIn {
  background-color: #3887fe;
}
.btns {
  display: flex;
  gap: 30px;
}
h1 {
  margin-bottom: 40px;
}
.triangle {
  position: absolute;
  left: -50px;
}
.square {
  position: absolute;
  z-index: -10;
  right: -60px;
  top: 10px;
}
.background-1 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.background-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.triangle2 {
    position: absolute;
    bottom: 60px;
    right: -370px;
}
.title {
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title h1{
font-size: 90px;
color: #3887FE;
}
.title hr{
color: #3887FE;
}
.title p {
    color: white;
    font-size: 20px;
}
.hr {
    width: 175px;
    background-color: #3887FE;
    height: 2px;
    margin-bottom: 20px;
}